<mat-grid-list [cols]="12" class="component-background" [rowHeight]="rowHeight" gutterSize="5px">
  <mat-grid-tile [colspan]="4" [rowspan]="33">
    <mat-card>
      <mat-card-header>
        Production Order Form
      </mat-card-header>
      <mat-card-content id="productionform">

        <form #myForm id="frm" [formGroup]="form">

          <mat-form-field id="1field" appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput formControlName="ordernumber">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select Client Order</mat-label>
            <mat-select formControlName="clientorder"><
              <mat-option selected>Not Selected</mat-option>
              <mat-option *ngFor="let Co of clientorders"
                          [value]="Co">{{ Co.number + " ( " + Co.clientorderstatus.name + " )" }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select A Product</mat-label>
            <mat-select formControlName="product"><
              <mat-option [value]="null">Not Selected</mat-option>
              <mat-option *ngFor="let product of products"
                          [value]="product">{{ product.code + " (" + product.name + " )" }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" id="last">
            <mat-label>Amount</mat-label>
            <input
              [min]="dynamicMin"
              [max]="dynamicMax"
              type="number"
              matInput formControlName="amount">
            <mat-error *ngIf="form.get('amount')?.hasError('required')">
              Amount is required
            </mat-error>
            <mat-error *ngIf="form.get('amount')?.hasError('min')">
              Amount must be greater than to {{ dynamicMin }}
            </mat-error>
            <mat-error *ngIf="form.get('amount')?.hasError('max')">
              Amount must be less than or equal to {{ dynamicMax }}
            </mat-error>
          </mat-form-field>

          <button id="rlbtn" mat-button (click)="openDialog()">Check Resources</button>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Placed Date</mat-label>
            <input matInput [matDatepicker]="itdate1" formControlName="doplaced" [max]="maxDate">
            <mat-datepicker-toggle matIconSuffix [for]="itdate1"></mat-datepicker-toggle>
            <mat-datepicker #itdate1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Required Date</mat-label>
            <input matInput [matDatepicker]="itdate2" formControlName="dorequired" [min]="minDate">
            <mat-datepicker-toggle matIconSuffix [for]="itdate2"></mat-datepicker-toggle>
            <mat-datepicker #itdate2></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Select Status</mat-label>
            <mat-select formControlName="productionorderstatus"><
              <mat-option [value]="null">Not Selected</mat-option>
              <mat-option *ngFor="let ps of productionOrderStatuses" [value]="ps">{{ ps.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="employee"><
              <mat-option [value]="null">Not Selected</mat-option>
              <mat-option *ngFor="let employee of employees" [value]="employee">{{ employee.callingname }}</mat-option>
            </mat-select>
          </mat-form-field>


          <div id="butpanel">
            <button id="butpanel-add" mat-raised-button (click)="add()" [disabled]="!enaadd">Add</button>
            <button id="butpanel-clear" mat-raised-button (click)="clear()">Clear</button>
            <button id="butpanel-update" mat-raised-button (click)="update()" [disabled]="!enaupd">Update</button>
            <button id="butpanel-delete" mat-raised-button (click)="delete()" [disabled]="!enadel">Delete</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--  //client order-->
  <mat-grid-tile [colspan]="8" [rowspan]="16">
    <mat-card>
      <mat-card-header>
        Incomplete Client Order Details
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="emptyCOtable" style="background-color: #c2ffbf; font-size: large;
padding: 5px">No Incomplete Client Orders </p>
        <mat-table style="cursor: not-allowed" [dataSource]="codata">
          <ng-container *ngFor="let column of cocolumns; let i = index;" [matColumnDef]="column">
            <mat-header-cell id="headercell" *matHeaderCellDef style="font-weight: bold">
              {{ coheaders[i] }}
              <form [formGroup]="cocsearch" class="cocsearch">
                <mat-form-field appearance="outline">
                  <mat-label>Search {{ coheaders[i] }}</mat-label>
                  <input matInput [formControlName]="getFormControlName(column)" (keyup)="filterTable2()">
                </mat-form-field>
              </form>
            </mat-header-cell>
            <mat-cell style="background-color: #fad8d8" *matCellDef="let element"> {{ element[cobinders[i]] }}
            </mat-cell>
          </ng-container>

          <!-- Header and Row Definitions -->
          <mat-header-row *matHeaderRowDef="cocolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: cocolumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator2 [length]="20" [pageSize]="5" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!--  //-->

  <!--  //production order-->
  <mat-grid-tile [colspan]="8" [rowspan]="17">
    <mat-card>
      <mat-card-header>
        Production Order Table

      </mat-card-header>

      <mat-card-content>

        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{ headers[i] }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }}</mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{ csprompts[i] }}</mat-label>
                  <input matInput [formControlName]="cscolumn" (keyup)="filterTable()">
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: columns;" (click)="fillForm(row)"
            [ngStyle]="row.productionorderstatus.name !== 'Completed' ? {'background-color': '#fad8d8'} :
             {'background-color': '#c2ffbf'}"
            [ngClass]="{'selected-row': row === selectedrow}"></mat-row>

        </mat-table>

        <mat-paginator #paginator1 class="mat-paginator-sticky" showFirstLastButtons [length]="20" [pageSize]="5"
                       [pageSizeOptions]="[3,5,10,20]"></mat-paginator>

      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

</mat-grid-list>

