mat-card-header, mat-card {
  border-radius: 0 !important;
}

mat-card-content {
  padding: 20px 20px 20px 20px;
  text-align: center;
}

mat-dialog-actions {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 1366px) {
  #confirm-yes-btn {
    max-height: 25px;
    border-radius: 12px;
    font-size: 11px;
    width: 120px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;

    i {
      margin-right: 5px;
    }
  }

  #confirm-no-btn {
    max-height: 25px;
    border-radius: 12px;
    font-size: 11px;
    width: 120px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;

    i {
      margin-right: 5px;
    }
  }

  mat-card-header {
    padding: 5px 8px !important;
    margin-bottom: 4px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    line-height: 1.1 !important;
    height: 23px !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
  }
}
