mat-card {  width: 100%;  height:100%;  margin: 10px 10px -10px 10px ; }

mat-card-content { overflow: auto; height: 100%; }



.csearch{   height: 40px;   width: 100%;  margin-top: 5px;    }

#headercell{

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  padding: 8px;
}
