mat-grid-list {
  margin: 3px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px var(--color-primary);
  }
  100% {
    box-shadow: 0 0 10px var(--color-delete);
  }
}

#hpSpan {
  color: var(--color-delete);
}

#checkButton {
  width: 150px;
  height: 25px;
  margin-bottom: 8px;
  background-color: var(--color-secondary);
  color: var(--color-light);
  border-radius: 5px;
  font-size: 14px !important;
}

#checkButton:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: 5px;
}

mat-grid-tile a {
  text-decoration: none;
  color: var(--color-light);
}

mat-grid-tile:nth-child(1) mat-card {
  padding: 5px;
  align-items: center;

}

mat-card {
  height: 100% !important;
  width: 100%;
  margin: 2px;
  overflow: auto;
  border-radius: 12px;
}

mat-card-content {
  overflow-x: hidden;
}

mat-card #headImg {
  height: 100%;
  border-radius: 12px;
}

#quicklinks {
  mat-card {
    background-color: var(--color-light);
    border-radius: 20px !important;
    box-shadow: 3px 3px 15px var(--color-primary);
    height: 240px !important;
    width: 160px;
    margin: 0 20px 0 20px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
  }
}

#quicklinks mat-card img {
  width: 90%;
  height: auto;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

#quicklinks mat-card:hover {
  transform: scale(1.1);
  border: 1px solid var(--color-primary);
}

#quicklinks mat-card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0 !important;
  background: var(--color-dark) !important;
  font-weight: normal !important;
  font-size: 17px;
}

#title {
  font-size: 18px;
  color: var(--color-light);

}

#title-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

#group {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--color-light), var(--color-dark), var(--color-dark), var(--color-light));
  width: 100%;
}

.green-text {
  color: green;
}

.task {
  margin: 2px;
  padding: 2px;
  background-color: var(--color-accent);
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: black;
}

.msg {
  margin: 2px;
  padding: 2px;
  background-color: var(--color-accent);
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  align-items: flex-end;
  gap: 20px;
}

#msgBtn {
  background-color: black;
  border-radius: 5px;
  color: var(--color-light);
}

.loading-text p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: var(--color-primary) ;
  margin-top: 20px;
}

#hpContainer, #hpContainer2 {
  overflow: hidden;
  padding-bottom: 10px !important;
  border-bottom: 2px #a5a3a3 solid;
}

#hpContainer mat-card-content, #hpContainer2 mat-card-content {
  overflow-x: auto;
  overflow-y: auto;
}

mat-list-item {
  background-color: var(--color-accent);
  margin-bottom: 5px;
  border-radius: 12px;
  border: none;
  overflow-y: auto !important;
}

#listbox2 {
  padding-top: 5px;
}

.mat-list-item-title {
  font-size: 15px !important;

  margin-top: -4px !important;
}

/*responsiveness*/
@media screen and (max-width: 1366px) {
  mat-grid-list {
    margin: 2px;
  }

  #checkButton {
    width: 120px;
    height: 18px;
    margin-bottom: 3px;
    padding-bottom: 1px;
    font-size: 10px !important;
  }

  mat-grid-tile:nth-child(1) mat-card {
    padding: 3px;

  }

  mat-card {
    margin: 1px;
  }

  #quicklinks {
    mat-card {
      max-height: 150px;
      max-width: 100px;
      margin: 0 10px 0 10px;
      transition: transform 0.3s ease;

      mat-card-content {
        overflow-y: hidden !important;
      }

    }
  }

  #quicklinks mat-card img {
    width: 80%;
    height: 90%;
    padding: 2px;
  }

  #quicklinks mat-card-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    max-height: 35px;
    border-radius: 8px;
    font-size: 12px;
  }

  #title {
    font-size: 14px;
  }

  #group {
    border-bottom: 1px solid var(--color-primary);
  }

  .task {
    font-size: 11px;
    font-weight: normal;
  }

  .msg {
    margin: 1px;
    font-size: 11px;
    gap: 8px;

  }

  .loading-text p {
    font-size: 12px;
  }

  #hpContainer, #hpContainer2 {
    padding-bottom: 2px !important;
  }

  mat-list-item {
    margin-bottom: 3px;
  }

  #listbox2 {
    padding-top: 2px;
  }

  .mat-list-item-title {
    font-size: 12px !important;
    margin-top: -5px !important;
  }
}

@media screen and (min-width: 1380px) and (max-width: 1680px) {
  #quicklinks {
    mat-card {
      max-height: 220px;
      max-width: 130px;
    }
  }

  #quicklinks mat-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 !important;
    background: var(--color-dark) !important;
    font-weight: normal !important;
    font-size: 16px;
  }
}

