
mat-card {
  width: 100%;
  height: 100%;
  margin: 10px 10px -10px 10px;
}

mat-card-content {
  overflow: auto;
  height: 100%;
}

.first-card{
  width: 60% !important;
}
#table-top {
  padding-top: 0;
  margin-bottom: 10px;
}
#frm-group{
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px

}
mat-form-field{
  max-width: 200px;
  border-radius: 12px;
}
#detail {
  text-align: center;
  margin-top: 20px;
  margin-right: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 13px;

  > p {
    font-weight: bold;
  }
}
canvas {
  height: 95% !important;   /* override default */
  width: auto !important;
}

@media screen and (max-width: 1366px) {

  .first-card{
    width: 80% !important;
  }
  #frm-group{
    gap: 10px;
    margin-bottom: 20px;
  }

  .csearch mat-form-field {
    padding-left: 15px;
    width: 150px;
  }
  #detail {
    margin-top: 15px;
    margin-right: 35px;
    margin-bottom: 10px;
    font-size: 11px;

  }
}
