mat-card {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: auto;
  margin: 10px 10px 10px 10px;
  background-color: #e0e9fa;

  /*box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.8);*/
}

:host {
  display: block;
  height: 100%; /* Ensure the component takes the full height of the grid tile */
}

mat-card-content {

  flex-grow: 1; /* Ensure the content inside the card grows to fill the available space */
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 0 10px;
  padding: 2px;
  color: var(--color-light);
  background-color: var(--color-dark);
  font-size: 20px;
  text-align: center;
  width: 100%;
}

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  font-size: 16px !important;
  color: white !important;
  background-color: var(--color-dark) !important;
  text-align: center;
  font-weight: normal !important;
  max-height: 30px !important;

}

#card-1, #card-2, #card-5 {
  background-color: #c1dcff !important;
  width: 450px;

  > mat-card-content {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

#rm-count-icon, #rm-count-icon2 {
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;

  > i {
    font-size: 20px;
    color: #36A2EB;
  }

}

#rm-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 20%;
  padding: 8px 12px;
  margin: 4px 0;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 130px;
  border-radius: 12px;
}

#detail-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  align-items: center;
  padding-top: 40px;
}

#detail-container {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  align-items: center;
  width: 98%;
}

#detail {
  background-color: white;
  border-radius: 10px;
  padding: 2px;
  text-align: start;
  font-weight: normal;
  font-size: 13px !important;
}

#inner-detail {
  background-color: #4BC0C0;
  padding: 3px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

#inner-detail:hover {
  background-color: rgba(75, 192, 192, 0.7);
}

#main-list-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 8px;
  margin: 4px 0;
  background-color: #ffffff;
  border-radius: 6px;
  width: 97%;
}

#rm-list2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 95%;

  gap: 10px;
}

mat-card-content.usage-content {
  background-color: #c1dcff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto; /* Allows scrolling if list grows too long */
}

.usage-content2 {

  background-color: #c1dcff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;

}


#rm-list:hover, #rm-list2:hover, #main-list-div:hover {
  background-color: #e8f0ff;
}

.item-name {
  text-align: center;
  font-weight: 600;
  color: #333;
}

.item-count {
  color: #007acc;
  font-weight: bold;
}

#chart-div {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
#card-4a ,#card-4a2{
  background-color: var(--color-accent) !important;
  border-bottom: 1px var(--color-dark) solid !important;
}
#card-4a mat-card-content {

  max-height: 98%;
  max-width: 95%;
}
#card-4a2 mat-card-content {
  max-height: 95%;
  max-width: 95%;
}

@media screen and (max-width: 1366px) {
  #detail-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    align-items: center;
  }

  #detail-container {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
    width: 90%;
  }

  #detail {
    background-color: white;
    border-radius: 10px;
    padding: 1px;
    text-align: start;
    font-weight: normal;
    font-size: 10px !important;
  }

  #inner-detail {
    background-color: #4BC0C0;
    padding: 2px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
  }
  #title {
    border-radius: 12px;
    margin: 5px 2px;
    padding: 1px;
    font-size: 14px;
    max-height: 25px;
  }

  mat-card-header {
    border-radius: 12px;
    padding-bottom: 2px;
    margin-bottom: 2px;
    font-size: 12px !important;
    max-height: 30px !important;
  }
}
