<mat-grid-list [cols]="20" [rowHeight]="rowHeight">

  <mat-grid-tile [colspan]="20" [rowspan]="row0">

    <h2 id="title">Dashboard <i style="margin-left: 30px" class="fa-solid fa-qrcode"></i></h2>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="10" [rowspan]="row1">
    <mat-card id="card-1" style="background-color: white">
      <mat-card-header>
        Total Sales
      </mat-card-header>
      <mat-card-content>
        <div id="rm-count-icon">
          <i class="fa-solid fa-comments-dollar"></i>
          {{ animatedSales | currency:'LKR' }}
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card id="card-2" style="background-color: white">
      <mat-card-header>
        Total Profit
      </mat-card-header>
      <mat-card-content>
        <div style="color: green" id="rm-count-icon2">
          <i style="color: #656530" class="fa-solid fa-money-bill-1-wave"></i>
          {{ animatedProfit| currency:'LKR' }}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="10" [rowspan]="row2">
    <mat-card id="card-4a" style="background-color: white ;margin-top: 10px !important;">
      <mat-card-header style="font-size: 25px">
        Purchase Order Info Chart
        <i style="color: red;font-size: 20px ; margin-left: 20px" class="fa-solid fa-area-chart"></i>
      </mat-card-header>
      <mat-card-content>
        <canvas id="cnvs" style="max-height: 97% " baseChart
                [data]="barChartData"
                [options]="barChartOptions"
                [type]="'bar'">
        </canvas>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="10" [rowspan]="row3">

    <mat-card id="card-4a2" style="background-color: white ;margin-top: 30px !important;">
      <mat-card-header style="font-size: 25px">
        Client Order Completion Info Chart
        <i style="color: red;font-size: 20px ; margin-left: 20px" class="fa-solid fa-area-chart"></i>
      </mat-card-header>
      <mat-card-content>
        <canvas style="max-height: 97% " baseChart
                [data]="barChartData2"
                [options]="barChartOptions2"
                [type]="'bar'">
        </canvas>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile style="margin-top: 10px" [colspan]="6" [rowspan]="row4">
    <mat-card id="card-4" style="background-color: white">
      <mat-card-header style="font-size: 25px">
        Product Sales Overview
        <i style="color: red;font-size: 20px ; margin-left: 20px" class="fa-solid fa-fire-flame-curved"></i>
      </mat-card-header>
      <mat-card-content>
        <canvas style="height: 95% ;width: 90%" #piechart></canvas>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile style="margin-top: 10px" [colspan]="4" [rowspan]="row5">
    <mat-card id="card-5" style="background-color: white">
      <mat-card-header style="font-size: 25px">
        Client Order Summary
        <i style="font-size: 20px ; margin-left: 20px" class="fa-solid fa-bars-staggered"></i>
      </mat-card-header>
      <mat-card-content id="detail-outer">
        <div *ngFor="let c of clients" id="detail-container">
          <div id="detail">Client : {{ c.client.name }}</div>
          <span id="inner-detail">Orders : {{ c.count }} </span>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
