mat-card {  width: 100%;  height:100%;  margin: 10px 10px -10px 10px ; }

mat-card-content { overflow: auto; height: 100%; }


canvas {
  height:95% !important;   /* override default */
  width: auto !important;
}

@media screen and (max-width: 1366px) {
  canvas {
    height: 100% !important;   /* override default */
    width: auto !important;
    padding: 3px;
  }
}
