#dialog {
  width: 400px;
  height: 300px;
}
mat-card-content {
  overflow-y: auto;
}
#btndiv {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding-bottom: 30px;
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#item {
  text-align: center;
  padding: 2px 20px;
  width: 80%;
  background-color: var(--color-accent);
  border-radius: 10px;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 1366px) {

  mat-card-header {
    padding: 5px 8px !important;
    margin-bottom: 4px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    line-height: 1.1 !important;
    height: 23px !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5) !important;
  }
}
