<div class="login-wrapper">
  <div class="login-card">
    <h2>Welcome Back!</h2>
    <p class="subtext">Fill your login details.</p>

    <form [formGroup]="loginform" class="login-form">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" autocomplete="off" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <p class="register-text">
        No Account? <a (click)="signup()" class="link">Register here.</a>
      </p>

      <button mat-raised-button (click)="authenticate()" class="login-btn">
        Login
      </button>
    </form>
  </div>
</div>
