.login-wrapper {
  height: 100vh;
  width: 100vw;
  background: url('/assets/dairy.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(13px);
  border-radius: 12px;
  padding: 32px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  color: black;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.login-card h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.subtext {
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

.register-text {
  font-size: 12px;
  text-align: left;
  color: #000000;
}

.link {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  margin-top: 8px;
  background-color: #0d6efd !important;
  color: white !important;
  border-radius: 12px;
  font-weight: normal;
}

@media screen and (max-width: 1366px) {

  .login-card {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(13px);
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
  }

  .login-card h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .subtext {
    font-size: 13px;
    color: #000000;
    margin-bottom: 10px;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  mat-form-field {
    width: 100%;
  }

  .register-text {
    font-size: 11px;
    text-align: left;
    color: #000000;
  }

  .link {
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
  }

  .login-btn {
    width: 100%;
    margin-top: 2px;
    background-color: #0d6efd !important;
    color: white !important;
    border-radius: 12px;
    font-weight: normal;
    max-height: 30px;
  }
}
