mat-card {
  width: 100%;
  height: 100%;
  margin: 10px 10px -10px 10px;

}

mat-card-content {
  overflow: auto;
  height: 100%;
}

#formgroup {
  display: flex;
  align-items: baseline;
  gap: 50px !important;
}

#rawmaterialform {
  padding-top: 20px;
  /*padding-bottom:20px ;*/
}

#rawmaterialform mat-form-field .ng-dirty {
  background-color: #abfecc !important;
}

button:disabled {
  opacity: 0.5;
}

#rawmaterialform mat-form-field .ng-valid,
.ng-valid.required {
  background-color: var(--color-accent) FF;
}

#h-row {
  /*border: 1px solid blue;*/
}

.rawmat-grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;

}

.rawmat-grid-container {
  :hover {
    background-color: #c9fdd4;
  }

}

.rawmat-card {
  display: flex;
  max-width: 200px;
  cursor: pointer;
  flex: 1 1 210px;
  background-color: #c7e5fb;
  justify-content: center; /* Horizontal center */
  align-items: center;
  border: 2px lightsteelblue;
  border-radius: 20px;
  padding: 2px;
  margin-bottom: 10px;

}

.rawmat-card:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px #4ccf42;
}

#descrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  border-radius: 20px;
  height: 120px;
  width: 84%;
}

#descrp p {
  padding: 0;
  margin: 0;
  font-size: 12px !important;
}

#descrp-title {
  font-size: 12px !important;
  width: 100%;
  height: 46px;
  padding: 4px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  border-radius: 12px;
  color: white;
}
#descrp-title:hover{
  background-color: black;
}

#p-img {
  height: 70px;
  width: 70px;
  text-align: center;
  object-fit: cover;
  display: block;
  margin: auto;
}

.status-not-1 {
  background-color: orange;
  animation: pulse-glow2 1.2s infinite ease-in-out;

  &:hover {
    background-color: rgba(220, 162, 53, 0.8);
    box-shadow: 0 0 5px 2px rgba(255, 89, 0, 0.5);
  }
}

.status-out-1 {
  background-color: var(--color-delete);
  animation: pulse-glow 1.2s infinite ease-in-out;
  &:hover {
    background-color: rgba(220, 53, 69, 0.8);
    box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.5);
  }
}

@keyframes pulse-glow2 {
  0% {
    box-shadow: 0 0 2px 1px rgba(255, 89, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 5px 3px orange;
  }
  100% {
    box-shadow: 0 0 2px 1px rgba(220, 162, 53, 0.8);
  }
}

@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 2px 1px rgba(255, 68, 0, 0.6);
  }
  50% {
    box-shadow: 0 0 5px 3px rgb(255, 68, 0);
  }
  100% {
    box-shadow: 0 0 2px 1px rgba(255, 68, 0, 0.6);
  }
}

.status-not {
  color: orange;
}

.status-out {
  color: red;
}

/* Floating toggle button */
#toggle-form-btn {
  position: absolute;
  margin-right: 5px;
  top: 14px;
  right: 8px;
  z-index: 100;
  width: 100px;
  color: white;
  border: 1px solid #8a8a8a;
  padding: 4px;
  border-radius: 150px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: medium;

  &:hover {
    border: 1px solid white;
    cursor: pointer;
    opacity: 95%;
  }
}

#formgroup {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

#ssearch-btn, #ssearch-clearbtn {
  margin-top: -4px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1366px) {

  #formgroup {
    gap: 20px;
  }

  #rawmaterialform {
    padding-top: 10px;
  }
  .rawmat-grid-container {
    gap: 5px;
    padding: 5px;

  }

  .rawmat-card {
    max-width: 200px;
    flex: 1 1 200px;
    background-color: #c7e5fb;
    justify-content: center; /* Horizontal center */
    align-items: center;
    border: 1px lightsteelblue;
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 5px;

  }

  .rawmat-card:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px #4ccf42;
  }

  #descrp {
    border-radius: 15px;
    height: 110px;
    width: 70%;
    overflow-y: hidden !important;
  }

  #descrp p {
    font-size: 10px !important;
  }

  #descrp-title {
    font-size: 11px !important;
    width: 100%;
    height: 40px;
    padding: 2px;
    border-radius: 10px;
  }

  #p-img {
    height: 50px;
    width: 50px;
  }

  /* Floating toggle button */
  #toggle-form-btn {
    position: absolute;
    margin-right: 5px;
    top: 13px;
    right: 8px;
    z-index: 100;
    width: 70px;
    color: white;
    border: 1px solid #8a8a8a;
    padding: 2px;
    border-radius: 80px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
    max-height: 18px;

    &:hover {
      border: 1px solid white;
      cursor: pointer;
      opacity: 95%;
    }
  }

  #formgroup {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
  }

  #ssearch-btn, #ssearch-clearbtn {
    margin-top: -4px;
    margin-bottom: 10px;
  }

  .status-not-1 {
    background-color: orange;
    animation: pulse-glow2 1.2s infinite ease-in-out;

    &:hover {
      background-color: rgba(220, 162, 53, 0.8);
      box-shadow: 0 0 5px 2px rgba(255, 89, 0, 0.5);
    }
  }

  .status-out-1 {
    background-color: var(--color-delete);
    animation: pulse-glow 1.2s infinite ease-in-out;
    &:hover {
      background-color: rgba(220, 53, 69, 0.8);
      box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.5);
    }
  }

  @keyframes pulse-glow2 {
    0% {
      box-shadow: 0 0 2px 1px rgba(255, 89, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 5px 3px orange;
    }
    100% {
      box-shadow: 0 0 2px 1px rgba(220, 162, 53, 0.8);
    }
  }

  @keyframes pulse-glow {
    0% {
      box-shadow: 0 0 2px 1px rgba(255, 68, 0, 0.6);
    }
    50% {
      box-shadow: 0 0 5px 3px rgb(255, 68, 0);
    }
    100% {
      box-shadow: 0 0 2px 1px rgba(255, 68, 0, 0.6);
    }
  }

  .status-not {
    color: orange;
  }

  .status-out {
    color: red;
  }
}
