mat-grid-list{ margin: 8px}
mat-grid-tile{
  margin-top: 10px;
}
mat-card{width: 100%; height: 100%; overflow: auto}

#privilageform mat-form-field{ padding-left: 6px;padding-top: 10px}
#operationform mat-form-field{ padding-left: 6px;padding-top: 10px}

#innertable mat-table{ border: solid rgba(47, 122, 243, 0.8);}

mat-table{overflow: auto;}

#privilageform mat-form-field .ng-dirty{
  background-color: rgba(47, 122, 243, 0.8);
}

button:disabled {
  opacity: 0.5;
}
