.container {
  height: 100vh;
  width: 100vw;
}

#toolbar {
  min-height: 7vh;
  height: 7vh !important;
  padding: 0 !important;
  background: black !important;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  align-items: center;
  padding: 2px;
}

.toolbar-left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
}

.toolbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.mat-badge-content {
  font-size: 16px;
  height: 3vh;
  width: 3vh;
  line-height: 3vh;
}

#notify, #msg {
  margin-right: 20px;
  color: var(--color-light);
  font-size: medium;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
}

.img-logo {
  height: 5vh !important;
  width: auto;
  margin-left: 10px;
  vertical-align: middle;
}

#nav-icon {
  height: 5vh;
  width: 5vh;
  background-color: var(--color-primary);
  color: #ffffff;

  border: #ffffff solid 2px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-icon:hover {
  background-color: var(--color-secondary);
  cursor: pointer;
}

.lbl-user {
  font-size: medium;
  font-weight: normal;
  color: var(--color-light);
}

.img-user {
  height: 5vh;
  width: auto;
  border-radius: 50%;
  border: var(--color-primary) solid 2px;

}

#logout-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 5vh;
  color: var(--color-ternary);
  cursor: pointer;
}

/* Side Navigation */

mat-sidenav-container {
  height: 93vh;
}

mat-sidenav {
  width: 18%;
  background-color: var(--color-ternary);

  :hover a {
    color: var(--color-light);
  }
}

mat-sidenav a {
  font-size: 14px;
  text-decoration: none;
  color: black;;

  :hover {
    background: var(--color-dark) !important;
  }
}

mat-sidenav mat-icon {
  font-size: 16px;
  margin: 0 0 -10px 0;
  color: black;
}

mat-nav-list {
  background-color: var(--color-ternary);
}

mat-nav-list mat-list-item {
  height: 35px;
  font-size: 14px;
  background-color: var(--color-ternary);
  color: black;
  width: 100%;

  a {
    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }
}
mat-nav-list i{
  min-width: 20px;
  max-width: 20px;

}
.item a{
  /*font-size: 12px !important;*/
  font-weight: lighter;
  padding-left: 5px;
}

mat-nav-list mat-list-item:hover {
  background: var(--color-dark);

  a {
    color: var(--color-light);
  }
}

mat-nav-list mat-expansion-panel {
  box-shadow: none;
  border-radius: unset;
  background-color: var(--color-ternary);

}

mat-nav-list mat-expansion-panel-header {
  height: 35px;
  padding: 0 20px 0 0;
}

mat-nav-list mat-expansion-panel-header:hover {
  /*background: var(--color-dark) !important;*/
}

mat-nav-list mat-expansion-panel mat-list-item {
  height: 32px;
}

::ng-deep .mat-badge-content {
  font-size: 15px;
}

mat-list-item i {
  padding-right: 10px;
}
#msg .mat-badge-content,#notify .mat-badge-content {
  top: -18px !important;    /* adjust vertically */
  left: 13px !important;  /* adjust horizontally */
  font-size: 14px;           /* optional: smaller text */
  height: 20px;
  width: 24px;
  line-height: 20px;
  color: white;
  background-color: var(--color-delete);
}

/*responsiveness*/
@media screen and (max-width: 1366px) {
  mat-toolbar-row {
    padding: 1px;
  }

  .toolbar-left {
    gap: 10px;
  }

  .mat-badge-content {
    font-size: 10px;
    height: 12px;
    width: 12px;
    line-height: 5px;
  }

  #notify, #msg {
    margin-right: 15px;
  }

  i{
    font-size: 12px;
  }

  #nav-icon {
    height: 5vh;
    width: 5vh;
    border: #ffffff solid 1px;
  }

  .img-user {
    border: var(--color-primary) solid 1px;margin-bottom: 2px;
  }

  /* Side Navigation */

  mat-sidenav a {
    font-size: 12px;
   }

  mat-sidenav mat-icon {
    font-size: 12px;
    margin: 0 0 -6px 0;
     }

  mat-nav-list mat-list-item {
    height: 25px;
    font-size: 12px;
  }

  .item a{
    padding-left: 3px;
  }

  mat-nav-list mat-expansion-panel mat-list-item {
    height: 25px;
  }
  #msg .mat-badge-content,#notify .mat-badge-content {
    top: -13px !important;    /* adjust vertically */
    left: 10px !important;  /* adjust horizontally */
    font-size: 10px;           /* optional: smaller text */
    height: 15px;
    width: 15px;
    line-height: 15px;
  }
  #logout-icon{
    margin-bottom: 0;
  }
  .lbl-user{
    font-size: 12px;
    margin-bottom: -2px;
  }
}
