/* Desktop styles */
@media screen and (min-width: 768px) {
  /* Add your desktop-specific styles here */
}

/* Tablet styles */
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* Add your tablet-specific styles here */
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  /* Add your mobile-specific styles here */
}

/*mat-grid-list{*/
/*  height: 100%;*/
/*}*/

mat-card {
  width: 170%;
  height: 100%;
  margin: 10px 10px -5px 10px !important;
  overflow: hidden;
}

mat-card-content {
  overflow: auto;
  height: 100%;
}

mat-grid-tile {
  overflow: visible;
  margin-bottom: 20px; /* Adjust the margin size as needed */
}

.mat-table {
  display: block;
  width: 100%;
  overflow: auto;
}


#butpanel2 ,#butpanel3 ,#butpanell3  {
  margin-top: 10px;
  margin-bottom: 20px;
}

#use,#use1 ,#use3{
  width: 120px;
  margin:3px;
  background-color: var(--color-add);
  color: white;
  border-radius: 12px;
  max-height: 30px;
  font-size: 12px;
}
#notuse, #notuse3{
  width: 120px;
  margin:3px;
  background-color: var(--color-delete);
  color: white;
  border-radius: 12px;
  max-height: 30px;
  font-size: 12px;
}
#updateAdvanced, #updateAdvanced2{
  width: 120px;
  margin:3px;
  background-color:  var(--color-update);
  color: white;
  border-radius: 12px;
  max-height: 30px;
  font-size: 12px;
}

.mat-paginator-sticky {
  position: sticky;
  bottom: 1px;
}

/* Highlight rows on hover */
.mat-row:hover {
  cursor: pointer;
}


/* Order Form */
#orderform {
  padding-top: 20px;
}

.innerbtn, #removeBtn{
  width: 100px;
  /*display: block;*/
  /*margin-left: 10px;*/
  margin-bottom: 6px;
  margin-left: 5px;
  background-color: white;
  color: #36A2EB;
  border: 2px solid #36A2EB;
  padding: 8px;
  border-radius: 5px;
  text-align: center;

  &:hover {
    background-color: #36A2EB;
    color: white;
    border: 2px solid rgba(47, 122, 243, 0.8);
  }
}

#paraAdvanced{
  display: flex;
  flex-direction: column;
  border: 1px solid #d5cfcf;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-top: 6px;
  align-content: flex-start;
}

.mat-form-field .ng-dirty {
  background-color: #abfecc !important;
}

button:disabled {
  opacity: 0.5;
}

#orderform mat-form-field .ng-dirty {
  background-color: var(--color-accent)FF !important;
}

#tableInner{

  margin-bottom: 20px;
}

