/* Desktop styles */
@media screen and (min-width: 768px) {
  /* Add your desktop-specific styles here */
}

/* Tablet styles */
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* Add your tablet-specific styles here */
}

/* Mobile styles */
@media screen and (max-width: 480px) {
  /* Add your mobile-specific styles here */
}

/*mat-grid-list{*/
/*  height: 100%;*/
/*}*/
#ssearch{
  mat-form-field{
    width: 230px !important;
  }
}

mat-card {
  width: 170% !important;
  height: 100%;
  margin: 10px 5px -5px 10px !important;

}

mat-card-content {
  overflow: auto;
  height: 100%;
}


mat-grid-tile {
  overflow: visible;
  margin-top: 3px; /* Adjust the margin size as needed */
}


.mat-paginator-sticky {
  position: sticky;
  bottom: 1px;
}

/* Order Form */
#productform {
  padding-top: 20px;
}

#filepanel {

  margin-bottom: 60px;
  /*border: 1px solid;*/
  display: flex;
  flex-direction: column;
  justify-content: center;

  #btnGroup {
    padding-top: 10px;
  }

  #selectbutton2 {
    width: 150px;
    display: block;
    margin-left: 150px;
    margin-bottom: 5px;
    background-color: white;
    color: #8a8a8a;
    border: 2px solid #8a8a8a;
    padding: 8px;
    border-radius: 5px;
    text-align: center;

    &:hover {
      background-color: var(--color-add);
      color: white;
      border: #104b30;
    }
  }

  #clearbutton2 {
    width: 150px;
    display: block;
    margin-left: 150px;
    margin-bottom: 5px;
    background-color: white;
    color: #8a8a8a;
    border: 2px solid #8a8a8a;
    padding: 8px;
    border-radius: 5px;
    text-align: center;

    &:hover {
      background-color: var(--color-delete);
      color: white;
      border: 2px solid rgba(243, 47, 47, 0.8);
    }
  }
}

#imgpanel img, #filepanel img {
  height: 90px;
  width: 90px;
}

#scbutton {
  width: 150px;
  display: block;
  margin-bottom: 20px;
  background-color: white;
  color: #8a8a8a;
  border: 1px solid #8a8a8a;
  padding: 8px;
  border-radius: 12px;
  text-align: center;

  &:hover {
    background-color: var(--color-add);
    color: white;
    border: #104b30;
  }
}

#productform .mat-form-field .ng-dirty {
  background-color: #abfecc !important;
}

button:disabled {
  opacity: 0.5;
}

#productform mat-form-field .ng-valid,
.ng-valid.required {
  background-color: var(--color-accent) FF;
}

#tableInner {

  margin-bottom: 20px;
}

.product-grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;

}

.product-grid-container {
  :hover {
    background-color: #c9fdd4;
  }

}

.product-card {
  display: flex;
  max-width: 180px;
  cursor: pointer;
  flex: 1 1 180px;
  background-color: #c7e5fb;
  justify-content: center; /* Horizontal center */
  align-items: center;
  border: 2px lightsteelblue;
  border-radius: 20px;
  padding: 3px;

}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px #4ccf42;
}

#descrp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  height: 100px;
  font-size: 12px !important;
}

#descrp p {
  padding: 0;
  margin: 0;
  font-size: 12px !important;
}

#descrp-title {
  font-size: 13px !important;
  width: 100%;
  height: 46px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  color: white;
}

#descrp-title:hover {
  background-color: black;
}

#p-img {
  text-align: center;
  height: 80px;
  width: 80px;
  object-fit: cover;
  display: block;
  margin: auto;
}

/* Floating toggle button */
#toggle-form-btn {
  position: absolute;
  margin-top: -4px;
  top: 18px;
  right: 8px;
  z-index: 10;
  width: 100px;
  color: white;
  border: 1px solid #8a8a8a;
  padding: 4px;
  border-radius: 150px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: medium;

  &:hover {
    border: 1px solid white;
    cursor: pointer;
    opacity: 95%;
  }
}

#copy-style-btn {

  background-color: var(--color-primary);
  width: 120px;
  color: white;
  border: 1px solid #8a8a8a;
  padding: 2px;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  margin-top: -20px;
  margin-bottom: 15px;
  max-height: 30px;

  &:hover {
    cursor: pointer;
    opacity: 95%;
  }
}

#styleCopyMsg{
  margin-top: 5px;
  margin-bottom: 18px;
  margin-left: 10px;
  font-size: 12px;
  color: var(--color-add);
  background-color: var(--color-accent);
  padding: 2px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1366px) {
  #toggle-form-btn {
    position: absolute;
    margin-right: 5px;
    top: 17px;
    right: 8px;
    z-index: 100;
    width: 70px;
    color: white;
    border: 1px solid #8a8a8a;
    padding: 2px;
    border-radius: 80px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
    max-height: 18px;

    &:hover {
      border: 1px solid white;
      cursor: pointer;
      opacity: 95%;
    }
  }
  #ssearch{
    margin-top: 10px;
    mat-form-field{
      width: 190px !important;
    }
    mat-label{
      font-size: 10px !important;
    }
  }
}
