mat-card {
  width: 100%;
  height: 100%;
  margin: 10px 10px -10px 10px;
  padding-bottom: 10px;
}

/* Employee Form */
#employeeform {
  padding-top: 10px;
}

#employeeform mat-form-field .ng-dirty {
  background-color: #fefeab !important;
}

button:disabled {
  opacity: 0.5;
}

#employeeform mat-form-field .ng-valid,
.ng-valid.required {
  background-color: var(--color-accent)FF;
}


@media screen and (max-width: 1366px) {
  mat-card {
    margin: 5px 5px -5px 5px;
  }

}

