
mat-card {
  width: 100%;
  height: 98%;
    border-radius: 12px;
     /*margin: 10px 10px -10px 10px;*/
  background-color: #c1dcff;
}
:host {
  display: block;
  height: 100%; /* Ensure the component takes the full height of the grid tile */
}

mat-card-content {
  flex-grow: 1;  /* Ensure the content inside the card grows to fill the available space */
}

mat-card-header {
  border-radius: 12px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  background: white !important;
  color: var(--color-primary)!important;
  font-size: 25px;
  text-align: center;
  font-weight: bold !important;

}

.csearch mat-card-content {
  padding-top: 30px;

}

.csearch mat-form-field {
  padding-left: 15px;
  width: 200px;
}

#ssearch-btn{font-size:12px ; width: 195px; margin-left:10px; margin-top: 5px;  margin-bottom: 10px; background-color: var(--color-add); color: white  }
#ssearch-clearbtn{font-size:12px ; width: 195px; margin-left:10px; margin-top: 5px;  margin-bottom: 10px; background-color: var(--color-delete); color: white  }

#table-top{
  padding-top: 0px;
  margin-bottom: 10px;
}

#custom_legend{
  display: flex;
  justify-content: center;
  align-items: center;
}
